.body {
    width: 100%;
    height: inherit;
    min-height: 100vh;
    background-color: #EAEAEA;
}

.navigate a {
    color: #6B7280;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration: none;
}

.navigate {
    display: flex;
    width: 58.33333333%;
    justify-content: space-between;
}

.content {
    padding: 2rem 5rem;
}

@media screen and (max-width: 720px) {
    .content {
        padding: 1rem;
    }
}

.add {
    border-radius: 4px;
    border: 1px solid #E5E7EB;
    color: #000;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    /* 142.857% */
}

.active {
    border-bottom: 1.6px solid #00A4BD;
}

.tasks {
    margin-top: 3rem;
}

.taskdetails {
    width: 58.33333333%;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 1rem;
}

.username {
    display: flex;
    align-items: center;
}

.name {
    color: #374151;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    /* 133.333% */
    margin-right: 1rem;
}

.date,
.time {
    color: #9CA3AF;
    font-family: 'Roboto';
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin-right: 1rem;

    /* 145.455% */
}

.heading {
    color: #374151;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 142.857% */
}

.description {
    color: #9CA3AF;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
}

.done-btn {
    border-radius: 4px;
    border: 1px solid #E5E7EB;
    color: #000;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    background: none;
    /* 142.857% */
}

.done {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.completed {
    color:  #9CA3AF;
}
.not-completed {
    color: #9CA3AF;
    font-weight: 500;
}

@media screen and (max-width: 768px) {

    .navigate,
    .taskdetails {
        width: 100%;
    }
}