<app-nav-bar></app-nav-bar>
<div class="items p-5">
    <div class="heading row">
        <h1 class="col-12 col-lg-6">Take control of 
            your learning journey</h1>

        <p class="discription col-12 col-lg-8 mt-4">
            Unlock the power of personalized learning with Learniverse in just a
few clicks. Craft your own courses, access top-notch resources, and
tailor your learning to match your unique goals.
        </p>
    </div>
    <div class="get-started mt-5">
    </div>
    <button routerLink="/professionals" >
        Get started
    </button>
</div>