<div class="body">
    <div class="center-div">
        <div class="heading">
            <h1>Login to </h1>
            <img src="../../../assets/skill learn.png" alt="skill learn">
        </div>
        <form [formGroup]="form" (submit)="submit()">
            <p class="validation">{{error$}}</p>
            <div class="email">
                <p>Email</p>
                <input type="email" formControlName="email" class="email-input">
                <p class="validation" *ngIf="form.get('email')?.touched && form.controls['email'].errors?.['required']">
                    Email is required</p>
                <p class="validation" *ngIf="form.get('email')?.touched && form.controls['email'].errors?.['email']">
                    Enter valid email</p>
            </div>
            <div class="password">
                <p>Password</p>
                <input type="password" formControlName="password" class="password-input">
                <p class="validation"
                    *ngIf="form.get('password')?.touched && form.controls['password'].errors?.['required']">Password is
                    required</p>
                <p class="validation"
                    *ngIf="form.get('password')?.touched && form.controls['password'].errors?.['minlength']">Minimum 8
                    characters required</p>
            </div>
            <div class="forget-password mt-4">
                <a routerLink="/forgotpassword">Forgot password?</a>
            </div>
            <div class="login-button mt-5">
                <button type="submit" *ngIf="!loading$">Login</button>
                <button type="submit" *ngIf="loading$">Loading...</button>
                <div class="or">
                    <hr><span>Or</span>
                    <hr>
                </div>
            </div>
        </form>
        <div class="google-button">
            <!-- Google login button here -->
        </div>
        <p class="sign-up">Don't have an account? <a routerLink="/sign_up">Sign up</a></p>
    </div>
</div>