<app-side-bar></app-side-bar>
<div class="content">
  <div class="body">
    <div *ngIf="loading$">Loading...</div>
    <mat-paginator *ngIf="!loading$ && users$.length !== 0" [length]="users$.length" [pageSize]="5"
      [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageChange($event)" aria-label="Select page">
    </mat-paginator>
    <div class="table-div table-responsive" *ngIf="!loading$">

      <h3 *ngIf="users$.length === 0">No user found</h3>
      <table class="table" *ngIf="users$.length !== 0">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th>Location</th>
            <th>Education</th>
            <th>Email verified</th>
            <th>Approve</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users$; let i = index">
            <th scope="row">{{(page -1) * limit + i+1}}</th>
            <td>{{user.firstName}}</td>
            <td>{{user.email}}</td>
            <td>
              <p *ngIf="user.location">{{user.location}}</p>
              <p class="text-danger" *ngIf="!user.location">Not provided</p>
            </td>
            <td>
              <p *ngIf="user.education">{{user.education}}</p>
              <p class="text-danger" *ngIf="!user.education">Not provided</p>
            </td>
            <td>
              <p *ngIf="user.emailVerified">verified</p>
              <p class="text-danger" *ngIf="!user.emailVerified">Not verified</p>
            </td>
            <td>
              <button (click)="unblock(user._id, user.firstName)" *ngIf="user.blocked">Unblock</button>
              <button (click)="block(user._id, user.firstName)" class="text-danger" *ngIf="!user.blocked">Block</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>