<div class="body">
    <app-nav-bar></app-nav-bar>
    <div class="content p-5 pb-0">
      <div class="row">
        <div class="col-3 userlist" *ngIf="alreadyMessaged">
          <div class="users row mt-2" *ngFor="let chat of alreadyMessaged">
            <div class="userimage col-2">
              <img src="../../../assets/null-icon.jpg" alt="skill learn" class="image">
            </div>
            <div class="username col-10" [routerLink]="['/professional/chat', getRoomId(getChattedUserEmail(chat))]">
              <p>{{getChattedUserName(chat)}}</p>
            </div>
          </div>
        </div>
        <div class="div" *ngIf="!alreadyMessaged">
            No users
        </div>
        <div class="col-8">
          <ng-container *ngIf="chatHistory" >
            <div class="chathistory" #chatContainer>
              <div class="userheader">
                <div class="userDetails row">
                  <div class="col-lg-2 col-6">
                    <div class="imgAbt">
                      <img src="../../../assets/null-icon.jpg" alt="skill learn" class="image">
                    </div>
                  </div>
                  <div class="col-lg-10 col-6">
                    <p>{{getChattedUserName(chatHistory)}}</p>
                  </div>
                </div>
                <div class="call"></div>
              </div>
              <div class="messages"  *ngFor="let message of chatHistory?.messages">
                <div class="sendermessage p-3 mt-2 mb-3" *ngIf="message.senderType !== 'Professional'">
                  <p class="themessage p-3" >
                    {{ message.text }}
                  </p>
                  
                </div>
                <div class="sendermessage outgoing pe-3 mt-2" *ngIf="message.senderType === 'Professional'">
                  <p class="themessageuser p-3" >
                    {{ message.text }}
                  </p>
                </div>
                
                
              </div>
            </div>
            <div class="sendmessage sendmessage-div">
              <input type="text" [(ngModel)]="message" placeholder="Send message" class="input-field"/>
              <button (click)="sendMessage()" class="input-button"><img src="https://s3-alpha-sig.figma.com/img/2fa1/296d/e7e9e31c7ff99108d47b1561bba68529?Expires=1691971200&Signature=h1bokKSIUKt94M-zievN2mrWEAOX-sfurDTlGvfApFuUnG4TuSrYEbyZsot0RlQ~O8AI1kQU0C1xM6nDbstlVUmekUdkLD~~3ILxphEPj9m0HDF-5PEKY~gqqnaKLQLMtOtjgGWMBrgHA303aCKzH3pLUqX6mkD0guehYzo4S8OwlDOLSpABsDBghr9F4BYFyP0hibqHxVUb5WXzw06JE1tbGmQjkXlOKm4irZslnrr~icZ0te2K0Z4A4U4tvJynJRmJVzth82bxuS7kfBGQpzLgcCVGS4R1aTaqOlFssHD66O7WkwcaI7z6FcNLgmStzL8d7dZBvRX4DP7ojZjx9Q__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4" alt=""></button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  
  
  <!-- <div class="App">
    <form [formGroup]="toFrom" (submit)="submitUser()">
      <input type="text" placeholder="Enter token" formControlName="to" />
      <button type="submit">Submit</button>
    </form>
    <ng-container *ngIf="CHAT_ROOM">
      <div class="box">
        <div class="messages">
  
          <div *ngFor="let message of chatHistory">
            <ng-container *ngIf="message.from === userId">
              you: {{ message.message }}
            </ng-container>
            <ng-container *ngIf="message.from !== userId">
              {{message.from}}: {{ message.message }}
            </ng-container>
          </div>
        </div>
        <input type="text" [(ngModel)]="message" placeholder="Type in text" />
        <button (click)="sendMessage()">Send</button>
      </div>
    </ng-container>
  </div> -->
  
  <!-- <h2>Chat History</h2>
  <div *ngFor="let chat of alreadyMessaged">
    <p><a [routerLink]="['/chat', getRoomId(getChattedUserEmail(chat))]">
      User ID of the person the client chatted with: {{ getChattedUserName(chat) }} </a></p>
  </div> -->
  