<div class="body">
    <div class="center-div">
        <a routerLink="/login" class="back-button">Back</a>
        <div class="heading">
            <h1>Enter your mail</h1>
        </div>
        
        <form [formGroup]="form" (submit)="submit()">
            <div class="inputs">
                <p class="validation" style="color: green;">{{message$}}</p>
                <p class="validation">{{error$}}</p>
                <div class="email">
                    <p>Email</p>
                    <input type="email" class="email-input" formControlName="email">
                    <p class="validation" *ngIf="form.get('email')?.touched && form.controls['email'].errors?.['required']">Email is required</p>
                <p class="validation" *ngIf="form.get('email')?.touched && form.controls['email'].errors?.['email']">Enter valid email</p>
                </div>
                
            </div>
            <div class="otp-button mt-5">
                <button type="submit" *ngIf="!loading$">Submit</button>
                <button type="submit" *ngIf="loading$">Loading...</button>
            </div>
        </form>
    </div>
</div>