<app-side-bar></app-side-bar>
<div class="content">
    <div class="body">
        <div class="navigate mb-5">
            <a class="me-4" routerLink="/admin/professionals" > ALL</a>
            <a routerLink="/admin/professional_request" class="active"> Request</a>
        </div>
        <div *ngIf="loading$ || professionalsLoading$">Loading...</div>
        <mat-paginator  *ngIf="!loading$ && professionals$.length !== 0" 
          [length]="professioanlLength$"
          [pageSize]="5"
          [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="pageChange($event)"
          aria-label="Select page">
        </mat-paginator>
        <div class="table-div table-responsive" *ngIf="!loading$">
          <h3 *ngIf="professionals$.length === 0 || getLength() === 0">No requests</h3>
            <table class="table" *ngIf="!professionalsLoading$ && professionals$.length !== 0 && getLength() !== 0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Location</th>
                    <th>Education</th>
                    <th>Email verified</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let professional of professionals$; let i = index">
                    <th scope="row">{{(page -1) * limit + i+1}}</th>
                    <td>{{professional.firstName}}</td>
                    <td>{{professional.email}}</td>
                    <td>
                        <p *ngIf="professional.location">{{professional.location}}</p>
                        <p class="text-danger" *ngIf="!professional.location">Not provided</p>
                    </td>
                    <td>
                        <p *ngIf="professional.education">{{professional.education}}</p>
                        <p class="text-danger" *ngIf="!professional.education">Not provided</p>
                    </td>
                    <td>
                        <p *ngIf="professional.emailVerified">verified</p>
                        <p class="text-danger" *ngIf="!professional.emailVerified">Not verified</p>
                    </td>
                    <td>
                      <span class="navbar-text" *ngIf="!professional.rejected">
                        <ul class="navbar-nav me-5">
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">   
                                    Action
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                  <li><a class="dropdown-item" (click)="approve(professional._id, professional.firstName)">Approve</a></li>
                                  <li><a class="dropdown-item" (click)="reject(professional._id, professional.firstName)">Reject</a></li>
                                </ul>
                            </li>
                        </ul>
                    </span>
                    <span class="navbar-text" *ngIf="professional.rejected">
                      <ul class="navbar-nav me-5">
                          <li class="nav-item dropdown ">
                              <a class="nav-link dropdown-toggle text-danger p-0" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Rejected
                              </a>
                              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" (click)="approve(professional._id, professional.firstName)">Approve</a></li>
                              </ul>
                          </li>
                      </ul>
                  </span>
                    </td>
                  </tr>
                 
                </tbody>
              </table>
        </div>
    </div>
</div>