

.toast-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
    margin-left: 1rem;
    max-width: 300px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px 0px 8px 8px;
    display: block;
    z-index: 10000 !important;
    pointer-events: all !important;
}
/* image {
    width: 0px;
} */

.toast-content {
    display: flex;
    align-items: center;
    padding: 10px;
}

.toast-content img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}

.name {
    font-weight: bold;
    margin-bottom: 5px;
}


.message {
    margin-top: 5px;
    font-size: 14px;
}

/* Animation */
.toast-container.show-toast {
    animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}


.call-buttons {
    display: flex;
    cursor: pointer;
  }

  .call-button {
    border: none;
    border-radius: 5px;
    padding: 0.2rem 0.5rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .accept-button {
    background-color: #32cd32;
    color: white;
  }

  .reject-button {
    background-color: #ff4500;
    color: white;
  }

  .call-button:hover {
    background-color: #ddd;
  }