.body {
    width: 100%;
    height: inherit;
    min-height: 100vh;
    background: #EAEAEA;
}

.container {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 110px)
}

.userdetails {
    width: 100%;
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 3rem 3rem;
}

.profileimage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.profileimage img {
    width: 200px;
    height: 200px;
    border-radius: 1500px;
    background: lightgray 50% / cover no-repeat;
}

.userinformation {
    flex-grow: 1;
}

.username {
    margin-bottom: 1rem;
    margin-top: 3rem;
}

.username h2 {
    margin: 0;
    color: #000;
    font-family: 'Inter';
    font-size: 23px;
    font-style: normal;
    line-height: 36px;
}

.username p {
    color: #797979;
    font-family: 'Inter';
    font-size: 11px;
    font-style: normal;
    line-height: 18px;
}

.chat-option {
    display: flex;
    align-items: center;
}

.chat-option button {
    padding: 0.1rem 2rem;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    color: #000;
    text-align: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
}

.chat-option button:hover {
    background: #000;
    color: white;
}

.userdata,
.review {
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 2rem;
    margin-top: 2rem;
}

.userdata h4 {
    color: rgba(0, 0, 0, 0.65);
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.detail {
    display: flex;
    width: 100%;
    padding: 12px 12px 12.8px 12px;
    flex-shrink: 0;
    border-bottom: 1px solid #EEE;
}

.detail p,
.detail input .detail button {
    color: rgba(0, 0, 0, 0.65);
    font-family: 'Inter';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    margin: 0;
}

.detail input {
    outline: none;
    border: none;
}

.detail button {
    border: none;
    outline: none;
    background: none;
}

.edit {
    display: flex;
    justify-content: flex-end;
}

.empty {
    color: #BCBCBC;
}

.validation {
    color: red;
}

.payment-option {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    display: flex;
    padding: 10% 10% 5% 10%;
}

.payment {
    width: 100%;
    padding: 2rem;
    height: 100%;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
}

.text {
    display: flex;
    justify-content: space-between;
}

.payment-button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.payment-button button {
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.75px;
    text-transform: uppercase;
    border-radius: 10px;
    background: #E76943;
    border: none;
    padding: 0.5rem 4rem;
}


/* Review  */
.review-header {
    display: flex;
    justify-content: space-between;
}

.review-header h3 {
    color: rgba(0, 0, 0, 0.65);
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.review-header button {
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #E5E7EB;
    color: #000;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}


ngb-rating {
    width: 100%;
    color: #ffc107;
    font-size: 2rem;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 15px 30px 0px rgba(0, 0, 0, 0.15);
    padding: 2rem;
    align-items: flex-end;
    margin-top: 2rem;
}

input[type=text] {
    padding: 0.5rem 1rem;
    width: inherit;
    margin-top: 1rem;
    width: 100%;
}

.add-review {
    width: 100%;
    display: flex;
    justify-content: center;
}

form button {
    background: none;
    padding: 0.5rem 1rem;
    width: auto;
    margin-top: 1rem;
}

.review-details {
    width: 100%;
    height: inherit;
    padding: 1rem;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.user-header {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
}

.user-header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.user-header h5 {
    color: #374151;
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin: 0 5px;
}

.user-header p {
    color: #9CA3AF;
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    margin: 0;
}

.user-header ngb-rating {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

.review-content {
    width: 100%;
    height: inherit;
    margin: 0.5rem 0;
}
.review-content h2 {
    color: #374151;
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    /* 142.857% */
}

.review-content p {
    color: #9CA3AF;
    font-family: 'Roboto';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    /* 153.846% */
}

@media screen and (max-width: 750px) {
    form {
        width: 100%;
    }

    .userdetails,
    .userdata,
    .payment-option,
    .payment,
    form ,
    .review-details,
    .review{
        padding: 0.5rem;
    }
}

@media screen and (max-width: 450px) {
    form {
        width: 100%;
    }
}