<div class="body">
    <app-nav-bar></app-nav-bar>
    <div class="container mt-2">
        <div class="userdetails row" *ngIf="userData">
            <div class="col-12 col-lg-3 profileimage">
                <img [src]="userData.image"
                    alt="profile image" *ngIf="userData?.image">
                <img src="../../../assets/null-icon.jpg"
                    alt="profile image" *ngIf="!userData?.image">
            </div>
            <div class="col-12 col-lg-9 userinformation">
                <div class="username row">
                    <div class="nameandbio col-6">
                        <h2>{{userData.firstName+ " " + userData.lastName}}</h2>
                        <p>{{userData.bio + "  "}}</p>
                    </div>
                    <div class="chat-option col-6">
                        <button [routerLink]="['/chat', getRoomId(userData.email)]">Chat</button>
                    </div>
                </div>
                <div class="userdata">
                    <div class="about">
                        <p>{{userData.about}}</p>
                    </div>
                    <div class=" mt-5">
                        <p *ngIf="userData.work.trim()">Working in {{userData.work }}</p>
                        <p>{{userData.field }}</p>
                    </div>
                    <div class="payment-option" *ngIf="userData.payment">
                        <div class="payment">
                            <div class="text">
                                <p>One to One session</p>
                                <p>{{userData.payment}}</p>
                            </div>
                            <div class="payment-button">
                                <button *ngIf="!subscribed" (click)="paymentSubmit()">PAY {{userData.payment}}</button>
                                <button *ngIf="subscribed">Subscribed</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="review">
                    <div class="review-header">
                        <h3>Review</h3>
                        <button *ngIf="!addReview && subscribed" (click)="toggleReview()">Add</button>
                        <button *ngIf="addReview && subscribed" (click)="toggleReview()">X</button>
                    </div>
                    <div class="add-review" *ngIf="addReview">
                        <form [formGroup]="reviewForm" (submit)="reviewSubmit()">
                            <ngb-rating [max]="5" formControlName="rating"></ngb-rating>
                            <input type="text" formControlName="title" placeholder="Title" id="">
                            <input type="text" formControlName="description" placeholder="Description" id="">
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                    <ng-container *ngFor="let review of reviews$ ">
                        <div class="review-details">
                            <div class="user-header">
                                <div class="image">
                                    <img [src]="review?.user?.image" alt="">
                                </div>
                                <div class="name">
                                    <h5>{{review?.user?.firstName + ' ' + review?.user?.lastName}}</h5>
                                    <div class="rating">
                                        <ngb-rating [max]="5" [rate]="review.rating"[readonly]="true"></ngb-rating>
                                    </div>
                                </div>
                                <div class="date">
                                    <p>{{review?.createdAt?.slice(0,10)}}</p>
                                </div>
                            </div>
                            <div class="review-content">
                                <h2>Unforgettable Lessons: A Journey with Mr. Smith, an Inspirational Teacher</h2>
                                <p>Ms. Suhail is an extraordinary teacher who has truly made a lasting impact on my educational journey. Her unwavering passion for teaching and commitment to student success are nothing short of inspiring.</p>
                            </div>
                        </div>
                    </ng-container>
                    <div class="pagination">
                        <!-- pagination button  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>