<div class="body">
    <app-nav-bar></app-nav-bar>
    <div class="container mt-2">
        <div class="userdetails row">
            <div class="col-12 col-lg-3 profileimage">
                <input type="file" #fileInput style="display: none" (change)="onFileSelected($event)" name="profile"/>
                <img src="{{userData.image}}"
                    alt="profile image" *ngIf="userData?.image"  (click)="fileInput.click()">
                <img src="../../../assets/null-icon.jpg"
                    alt="profile image" *ngIf="!userData?.image"  (click)="fileInput.click()">
            </div>
            <div class="col-12 col-lg-9 userinformation">
                <div class="username">
                    <h2>{{userData.firstName+ " " + userData.lastName}}</h2>
                    <p>{{userData.bio + "  "}}</p>
                </div>
                <div class="userdata mt-2">
                    <h4>Basic Info</h4>
                    <p class="validation">{{validation}}</p>
                    <div class="detail">
                        <p class="col-4">First Name</p>
                        <input type="text" [(ngModel)]="userData.firstName" class="col-4">
                        <button class="col-4 edit" (click)="submit('First name')">Edit</button>
                    </div>
                    <div class="detail">
                        <p class="col-4">Last Name</p>
                        <input type="text" [(ngModel)]="userData.lastName" class="col-4">
                        <button class="col-4 edit" (click)="submit('Last name')">Edit</button>
                    </div>
                    <div class="detail">
                        <p class="col-4">Location</p>
                        <input type="text" [(ngModel)]="userData.location" class="col-4" 
                        [placeholder]="userData.location ? userData.location: 'Your location'">
                        <button class="col-4 edit" (click)="submit('Location')">Edit</button>
                    </div>
                    <div class="detail">
                        <p class="col-4">Bio</p>
                        <input type="text" [(ngModel)]="userData.bio" class="col-4" 
                        [placeholder]="userData.bio ? userData.bio : 'Your bio'">
                        <button class="col-4 edit" (click)="submit('Bio')">Edit</button>
                    </div>
                    <div class="detail">
                        <p class="col-4">Education</p>
                        <input type="text" [(ngModel)]="userData.education" class="col-4"
                        [placeholder]="userData.education ? userData.education : 'Your education'">
                        <button class="col-4 edit" (click)="submit('Education')">Edit</button>
                    </div>
                    <div class="detail">
                        <p class="col-4">Email</p>
                        <p class="col-4 user-email">{{userData.email}}</p>
                        <button class="col-4 edit text-danger" *ngIf="!userData.emailVerified" (click)="sendVerifyUser()">Verify</button>
                        <p class="col-4 edit text-success"  *ngIf="userData.emailVerified">verified</p>
                    </div>
                    <div class="detail">
                        <p class="col-4">Address</p>
                        <input type="text" [(ngModel)]="userData.address" 
                        [placeholder]="userData.address ? userData.address : 'Your address'" class="col-4">
                        <button class="col-4 edit" (click)="submit('Address')">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>