<mat-progress-bar mode="indeterminate" *ngIf=" loading"></mat-progress-bar>
<div class="body" *ngIf="!loading">
    <app-nav-bar></app-nav-bar>
    <div class="container mt-2">
        <div class="userdetails row" >
            <div class="col-12 col-lg-3 profileimage">
                <input type="file" #fileInput style="display: none" accept=".jpg, .png" (change)="onFileSelected($event)" name="profile"/>
                <img src="{{userData.image}}"
                    alt="profile image" *ngIf="userData?.image?.trim()"  (click)="fileInput.click()">
                <img src="https://res.cloudinary.com/dsre6gifr/image/upload/v1700986182/null-icon_zq38m6.jpg"
                    alt="profile image" *ngIf="!userData?.image?.trim()"  (click)="fileInput.click()">
            </div>
            <div class="col-12 col-lg-9 userinformation">
                <div class="username">
                    <h2>{{userData.firstName+ " " + userData.lastName}}</h2>
                    <p>{{userData.bio + "  "}}</p>
                </div>
                <div class="userdata mt-2">
                    <h4>Basic Info</h4>
                    <p class="validation">{{validation}}</p>
                    <p class="validation" style="color: green;">{{message}}</p>
                    <div class="detail">
                        <p class="col-4">First Name</p>
                        <input type="text" [(ngModel)]="userData.firstName" class="col-4">
                        <button class="col-4 edit" (click)="submit('First name')" 
                        *ngIf="userData.firstName != actualData.firstName">Save</button>
                    </div>
                    <div class="detail">
                        <p class="col-4">Last Name</p>
                        <input type="text" [(ngModel)]="userData.lastName" class="col-4">
                        <button class="col-4 edit" (click)="submit('Last name')"
                        *ngIf="userData.lastName != actualData.lastName">save</button>
                    </div>
                    <div class="detail">
                        <p class="col-4">Location</p>
                        <input type="text" [(ngModel)]="userData.location" class="col-4" 
                        [placeholder]="userData.location ? userData.location: 'Your location'">
                        <button class="col-4 edit" (click)="submit('Location')"
                        *ngIf="userData.location != actualData.location">Save</button>
                    </div>
                    <div class="detail">
                        <p class="col-4">Bio</p>
                        <input type="text" [(ngModel)]="userData.bio" class="col-4" 
                        [placeholder]="userData.bio ? userData.bio : 'Your bio'">
                        <button class="col-4 edit" (click)="submit('Bio')" 
                        *ngIf="userData.bio != actualData.bio">save</button>
                    </div>
                    <div class="detail">
                        <p class="col-4">Education</p>
                        <input type="text" [(ngModel)]="userData.education" class="col-4"
                        [placeholder]="userData.education ? userData.education : 'Your education'">
                        <button class="col-4 edit" (click)="submit('Education')"
                        *ngIf="userData.education != actualData.education">save</button>
                    </div>
                    <div class="detail">
                        <p class="col-4">Email</p>
                        <p class="col-4 user-email">{{userData.email}}</p>
                        <button class="col-4 edit text-danger" *ngIf="!userData.emailVerified" (click)="sendVerifyUser()">Verify</button>
                        <p class="col-4 edit text-success"  *ngIf="userData.emailVerified">verified</p>
                    </div>
                    <div class="detail">
                        <p class="col-4">Address</p>
                        <input type="text" [(ngModel)]="userData.address" 
                        [placeholder]="userData.address ? userData.address : 'Your address'" class="col-4">
                        <button class="col-4 edit" (click)="submit('Address')"
                        *ngIf="userData.address != actualData.address">save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>