<div class="body">
  <app-nav-bar></app-nav-bar>
  <div class="content">
      <div *ngIf="loading">Loading...</div>
      
      <h3 *ngIf="!loading && !paymentHistory?.length" class="empty-message">Empty</h3>
      <div class="table-div table-responsive" *ngIf="paymentHistory?.length">
          <table class="table">
              <thead>
                  <tr>
                      <th>No</th>
                      <th>Date</th>
                      <th>Name</th>
                      <th>Amount</th>
                      <th>Status</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let payment of paymentHistory; let i = index">
                      <td>{{i +1}}</td>
                      <td>{{payment?.createdAt?.toString()?.slice(0,10)}}</td>
                      <td class="name">
                          {{payment?.from?.firstName +' ' + payment?.from?.lastName }}
                      </td>
                      <td>{{payment?.amount}}</td>
                      <td>
                          <p *ngIf="status(payment.createdAt)" class="status active">Active</p>
                          <p *ngIf="!status(payment.createdAt)" class="status expired">Expired</p>
                      </td>
                  </tr>
              </tbody>
          </table>
      </div>
  </div>
</div>