<div class="body">
    <app-nav-bar></app-nav-bar>
    <div class="content">
        <div class="navigate">
            <div class="d-flex">
                <a class="me-4 active" routerLink="/professional/tasks"> In progress</a>
                <a routerLink="/tasks/completed">Completed</a>
            </div>
        </div>
        <div class="tasks">
            <div class="taskdetails mb-3" *ngFor="let task of tasks">
                <div class="username">
                    <p class="name">{{task.from.firstName + " " + task.from.lastName}}</p>
                    <p class="date">{{task.endtime.toString().slice(0,10)}}</p>
                    <p class="time">{{task.endtime.toString().slice(11,16)}}</p>
                </div>
                <div class="task">
                    <p class="heading">{{task.task}}</p>
                    <p class="description">{{task.description}}</p>
                    <div class="done">
                        <p class="completed heading" *ngIf="task.completed">Completed</p>
                        <button class="done-btn" (click)="taskDone(task._id)" *ngIf="!task.completed">done</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>