<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img src="../../../assets/skill learn.png" alt="skill learn" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto  mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="home" routerLink="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="home" routerLink="/explore">Professionals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="home" routerLink="/chat">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="home" routerLink="/tasks">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="home" routerLink="/schedule">Scheduled</a>
          </li>
        </ul>
        <span class="navbar-text" *ngIf="userData">
            <button mat-button [matMenuTriggerFor]="menu">
              <img [src]="userData.image" alt="skill learn" class="icon" *ngIf="userData.image">
              <img src="../../../assets/null-icon.jpg" alt="skill learn" class="icon" *ngIf="!userData.image">
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink="/profile">Profile</button>
              <button mat-menu-item  (click)="logOut()">Logout</button>
            </mat-menu>
        </span>
        <ng-container *ngIf="!userData">
          <button routerLink="/login" *ngIf="!userData" class="me-2">Login</button>
          <button routerLink="/sign_up" *ngIf="!userData">Sign Up</button>
        </ng-container>
      </div>
    </div>
  </nav>