<div class="body">
    <app-nav-bar></app-nav-bar>
    <div class="content">
        <div *ngIf="loading">Loading...</div>

        <h3 *ngIf="!loading && !paymentHistory?.length" class="empty-message">Empty</h3>
        <div class="table-div table-responsive" *ngIf="paymentHistory?.length">
            <table class="table">
                <thead>
                    <tr>
                        <th>No</th>
                        <th>Date</th>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let payment of paymentHistory; let i = index">
                        <td>{{i +1}}</td>
                        <td>{{payment?.createdAt?.toString()?.slice(0,10)}}</td>
                        <td class="name" routerLink="/viewprofile/{{payment?.to?.email}}">
                            {{payment?.to?.firstName +' ' + payment?.to?.lastName }}
                        </td>
                        <td>{{payment?.amount}}</td>
                        <td>
                            <p *ngIf="status(payment.createdAt)" class="status active">Active</p>
                            <p *ngIf="!status(payment.createdAt)" class="status expired">Expired</p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="pagination" *ngIf="!loading && paymentHistory?.length">
            <div class="next-page me-2" *ngIf="pageCount > 1">
                <button (click)="prevPage()">Prev</button>
            </div>
            <div class="page-count">
                <p>{{pageCount + ' '}} of {{' '+ totalPage + ' '}} pages</p>
            </div>
            <div class="next-page" *ngIf="pageCount !== totalPage">
                <button (click)="nextPage()">Next</button>
            </div>
        </div>
    </div>
</div>