<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink=""><img src="../../../assets/skill learn.png" alt="skill learn" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto  mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="home" routerLink="/professional/chat">Chat</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="home" routerLink="/professional/tasks">Tasks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="home" routerLink="/professional/schedule">Scheduled</a>
          </li>
        </ul>
        <span class="navbar-text" >
          <button mat-button [matMenuTriggerFor]="menu">
            <img [src]="userData.image" alt="skill learn" class="icon" *ngIf="userData.image">
            <img src="../../../assets/null-icon.jpg" alt="skill learn" class="icon" *ngIf="!userData.image">
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="/professional/profile">Profile</button>
            <button mat-menu-item  (click)="logOut()">Logout</button>
          </mat-menu>
        </span>
      </div>
    </div>
  </nav>