<mat-progress-bar mode="indeterminate" *ngIf=" loading$"></mat-progress-bar>
<div class="body" *ngIf="!loading$">
    <app-nav-bar></app-nav-bar>
    <div class="content">
        <div class="navigate">
            <div class="d-flex">
                <a class="me-4" routerLink="/professional/schedule"> In progress</a>
                <a class="active" routerLink="/professional/schedule/completed">Expired</a>
            </div>          
            <button class="add" routerLink="/professional/schedule/new">Add </button>
        </div>
        <div class="tasks" >
            <div class="taskdetails mb-3" *ngFor="let task of meetings">
                <div class="username">
                    <p class="name">{{task.to.firstName + " " + task.to.lastName}}</p>
                    <p class="date">{{task.time.toString().slice(0,10)}}</p>
                    <p class="time">{{getTime(task.time)}}</p>
                </div>
                <div class="task">
                    <p class="heading">{{task.topic}}</p>
                    <p class="description">{{task.description}}</p>
                    <div class="done">
                        <p class="completed heading" *ngIf="task.completed">Completed</p>
                        <p class="not-completed heading" *ngIf="!task.completed">Not completed</p>
                    </div>
                </div>
            </div>
            <div class="pagination" *ngIf="meetings.length && !loading$">
                <div class="next-page me-2" *ngIf="pageCount > 1">
                    <button (click)="prevPage()">Prev</button>
                </div>
                <div class="page-count">
                    <p>{{pageCount + ' '}}  of {{' '+ totalPage + ' '}} pages</p>
                </div>
                <div class="next-page" *ngIf="pageCount !== totalPage">
                    <button (click)="nextPage()">Next</button>
                </div>
            </div>
        </div>
        <div class="no-task mt-3" *ngIf="!meetings.length && !loading$">
            <h1>No Expired Meetings</h1>
            <p>There are currently no expired meetings. All meetings are up-to-date.</p>
        </div>
    </div>
</div>