<div class="body">
    <app-nav-bar></app-nav-bar>
    <div class="content">
        <div class="navigate">
            <div class="d-flex">
                <a class="me-4" routerLink="/professional/tasks"> In progress</a>
                <a class="active" routerLink="/professional/tasks/completed">Completed</a>
            </div>
            <button class="add" routerLink="/professional/tasks/new">Add </button>
        </div> 
        <div class="tasks" *ngIf="loading$">
            <p>Loading...</p>
        </div>
        <div class="tasks" *ngIf="!loading$">
            <div class="taskdetails mb-3" *ngFor="let task of tasks">
                <div class="username">
                    <p class="name">{{task.to.firstName + " " + task.to.lastName}}</p>
                    <p class="date">{{task.endtime.toString().slice(0,10)}}</p>
                    <p class="time">{{getTime(task.endtime)}}</p>
                </div>
                <div class="task">
                    <p class="heading">{{task.task}}</p>
                    <p class="description">{{task.description}}</p>
                    <div class="done">
                        <p class="completed heading" *ngIf="task.completed">Completed</p>
                        <p class="not-completed heading" *ngIf="!task.completed">Not completed</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-task mt-3" *ngIf="!tasks.length && !loading$">
            <h1>Empty</h1>
        </div>
    </div>
</div>